//BLOG PAGE

.blogEntry {
	@extend .flexParent;
	justify-content: center;
	margin: 4% 0;
	.blogImage, .blogContent {
		width: 50%;
		flex: 1;
	}
	// .blogImage {
	// 	// height: 50%;
	// }
	.wp-post-image {
		max-width: 100%;
		height: 100%;
	}
	.blogContent {
		padding-left: 2%;
		p {
			margin: 2% 0;
			line-height: 1.7;
		}
		h4 {
			@include fontSize(25);
			border: none;
			padding: 0;
			margin: 0;
		}
		a {
			color: $purple;
			&:hover {
				color: darken($purple, 20%);
			}
		}
		> p:nth-of-type(1) {
			@include fontSize(14);
		}
	}
}

//SINGLE BLOG POST PAGE

.singleBlog {
	h4 {
		@include fontSize(28);
	}
	a {
		color: $purple;
		&:hover {
			color: darken($purple, 20%);
		}
	}
	.thePost {
		border-bottom: 1px solid black;

		> p:nth-of-type(1) {
			@include fontSize(14);
		}
	}
	img.wp-post-image {
		width: 70%;
		display: block;
		margin: 0 auto;
		height: auto;
	}
	.entry-content {
		width: 80%;
		margin: 0 auto;
		> ul {
			list-style: square;
			width: 90%;
			li {
				margin: 1% 0;
			}
		}
		ul {
			margin: 0 auto;
			@include fontSize(15);
		}
		img {
			height: auto;
			display: block;
			margin: 0 auto;
			width: 80%;
		}
		> ol {
			@include fontSize(15);
			line-height: 1.5;
			li {
				padding: 1% 0;
			}
		}
	}
}

#comments {
	h5 {
		margin: 0;
	}
	.comment-edit-link {
		display: none;
	}
	.comment-body p:last-child {
		margin: 1% 0;
	}
}