footer#footer {
	position: fixed;
	bottom: 0;
	width: 80%;
	height: 80%;
	background: $purple;
	text-align: center;
	@include large {
		width: 100%;
		position: relative;
		height: auto;
		padding-bottom: 10%;
	}
	img {
		width: 10%;
		position: absolute;
		bottom: 0px;
		left: 0;
		@include mobileLandscape {
			width: 20%;
			left: 15px;
			bottom: 0px;
		}
		@include mobile {
			width: 30%;
		}
	}
}
.footerWrapper {
	margin-bottom: 5%;
	margin-left: 9%;
	text-align: left;
	padding: 3% 4% 0% 3%;
	@include large {
		margin-bottom: 11%;
	}
	@include mobileLandscape {
		margin: 5% auto;
		padding: 3% 7% 19%;
	}
	@include mobile {
		padding: 3% 10% 30%;
	}
}

.contactOptions {
	@extend .flexParent;
	justify-content: space-between;
	@include large {
		flex-direction: column !important;
	}
	.email {
		width: 48%;
		@include large {
			width: 100%;
		}
		@include mobileLandscape {
			padding-bottom: 3%;
		}
		i {
			padding: 0 2% 0 0;
		}
		a {
			text-decoration: underline;
		}
	}
	.form {
		width: 48%;
		@include large {
			width: 100%;
			margin-bottom: 0 auto;
		}
	}
	form {
		@include fontSize(13);
		input, textarea {
			width: 85%;
			border: 1px solid $mint;
			border-radius: 2px;
			padding: 2%;
			resize: none;
			background: transparent;
			&:focus {
				outline: none;
			}
			@include large {
				width: 80%;
			}
			@include mobileLandscape {
				width: 100%;
			}
		}
		textarea {
			height: 140px;
		}
		input[type=submit] {
			color: black;
			font-weight: 700;
			border: 2.5px solid $mint;
			transition: .4s all ease;
			&:hover, &:focus {
				background: darken($purple, 20%);
			}
		}
		> div:last-of-type {
			border: none;
			margin: 0;
			padding: 0;
			width: 80%;
		}
		::-webkit-input-placeholder {
		   color: black;
		}
	}
}




