footer#footer {
	position: fixed;
	bottom: 0;
	width: 80%;
	height: 80%;
	background: $purple;
	text-align: center;
	@include large {
		width: 100%;
		position: relative;
		height: auto;
		padding-bottom: 10%;
	}
	img {
		width: 10%;
		position: absolute;
		bottom: 6px;
		left: 0;
		@include large {
			bottom: 0;
		}
		@include mobileLandscape {
			width: 20%;
			left: 15px;
			bottom: 0px;
		}
		@include mobile {
			width: 30%;
		}
	}
}
.footerWrapper {
	margin-bottom: 5%;
	@include large {
		margin-bottom: 11%;
	}
	@include mobileLandscape {
		margin: 5% auto;
		padding: 3% 7% 19%;
	}
	@include mobile {
		padding: 3% 10% 30%;
	}
}

.contactOptions {
	@extend .flexParent;
	justify-content: center;
	align-items: center;
	height: 500px;
	h2 {
		border: 5px solid black;
		padding: 1rem;
		font-family: 'Droid Sans', sans-serif;
		font-weight: normal;
		align-self: center;
		transition: all 1s;
		&:hover {
			background: lighten($purple, 10%);
		}
		@include large {
			@include fontSize(35);
			height: auto;
		}
	}
}




