body {
	font-family: 'Droid Sans', sans-serif;
}

h1, h2, h4, h5 {
	font-family: 'Josefin Sans', sans-serif;
}

h1 {
	@include fontSize(100);
	margin: 5% 0;
}

h2 {
	@include fontSize(50);
	margin: 5% 0;
}

h3 {
	@include fontSize(40);
	margin: 3% 0;
}

h4 {
	@include fontSize(35);
	margin: 3% 0;
	padding-bottom: 3%;
	text-align: left;
	border-bottom: 1px solid black;
}

h5 {
	@include fontSize(18);
	margin: 2% 0;
}

h6 {
	@include fontSize(17);
	margin: 3% 0;
}

p {
	@include fontSize(16);
	line-height: 2;
}

a {
	text-decoration: none;
}

main a {
	color: black;
}

header a {
	color: white;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}